$timeSelect: .15s;

.products {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #f9f8fb;
    padding-bottom: 135px;
}

.products__wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1111px;
    margin: 100px auto 0 auto;
    // height: 1431px;
}

.products__block {
    width: 828px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__wrapperbtn{
    position: absolute;
    bottom: 70px;
}

.products__more{
    position: relative;
    // margin-top: 40px;
    background: none;
    font-family: "Literal", sans-serif;
    font-size: 18px;
    color: #6aae55;
    // margin-bottom: 20px;

    &::after{
        top: 14px;
        position: absolute;
        display: block;
        content: '.................................................';
        font-family: "Literal", sans-serif;
        font-size: 10px;
        color: #6aae55;
    }
}

.products__sort {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    background: #fff;
    padding: 0 60px 0 15px;
    width: 100%;

    li{
        cursor: pointer;
        transition: $timeSelect all;
        font-family: "Literal", sans-serif;
        font-size: 16px;
        color: #828282;

        &:first-child{
            cursor: default;
        }
    }

    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.prodsort_selected{
    position: relative;
    display: flex;
    font-weight: 700;
    color: #5b4a58;
    transition: $timeSelect all;

    &::after{
        top: 20px;
        position: absolute;
        content: '';
        border: 1px solid #5b4a58;
        width: 100%;
        height: 0px;
        transition: $timeSelect all;
    }
}

.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}

.products__search {
    border-radius: 10px;
    width: 262px;
    height: 1068px;
    background: #fff;

    hr{
        border: 1px solid #f2f2f2;
        width: 100%;
        height: 0px;
    }
}

.productSearch__hr1{
    margin-top: 15px;
}

.productSearch__hr2{
    margin: 23px 0 24px 0;
}

.productSearch__hr3{
    margin: 26px 0 21px 0;
}

.productSearch__hr4{
    margin: 23px 0 24px 0;
}

.productsSearch__field{
    margin: 17px auto 0 auto;
    input{
        position: relative;
        border-radius: 10px;
        width: 233px;
        height: 50px;
        padding-left: 25px;
    
        font-family: "Literal", sans-serif;
        font-size: 16px;
        background: url("../../assets/img/icons/search.svg") no-repeat right, #fafafa;

        &::placeholder{
            color: #bdbdbd;
        }

        &::after{
            display: block;
            position: absolute;
            content: '122121';
            width: 14px;
            height: 14px;
        }
    }
}
.productsSearch__labels{
    display: flex;
    flex-direction: column;
    padding-left: 14px;

    h4{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #bdbdbd;
    }

    label{
        display: flex;
        font-family: "Literal", sans-serif;
        font-size: 16px;
        margin-bottom: 15px;
        color: #4f4f4f;

        &:last-child{
            margin-bottom: 0;
        }

        &:has(> input:checked){
            &:before{
                transition: .05s;
                background: url('../../assets/img/icons/check_price.svg') no-repeat 100%, #e9ffe2;
                background-position: center;
                border: 1px solid #6aae55;
            }

            font-weight: 700;
            color: #5b4a58;
        }
    }

    label::before{
        transition: .05s;
        cursor: pointer;
        content: '';
        display: block;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        width: 16px;
        height: 16px; 
        margin-right: 13px;
    }

    input{
        display: none;
    }
}

.productsSearch__prices{
    margin-top: 18px;

    h4{
        margin-bottom: 15px;
    }
}

.productsSearch__bouquet{
    h4{
        margin-bottom: 10px;
    }

    button{
        background: none;
        font-family: "Literal", sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #bdbdbd;
        transition: .1s;

        &:hover{
            transition: .1s;
            color: #d6d6d6;
        }

        &:active{
            transition: .1s;
            color: #9e9e9e;
        }
    }
}

.productsSearch__package{
    h4{
        margin-bottom: 14px;
    }
}

.productsSearch__gamma{
    h4{
        margin-bottom: 14px;
    }
}

.productItem{
    position: relative;
    width: 263px;
    font-family: "Literal", sans-serif;
    padding-bottom: 20px;

    h3{
        width: 100%;
        height: 48px;
        padding: 16px 0 0 19px;
        font-weight: 700;
        font-size: 18px;
        color: #5b4a58;
        line-height: 120%;
    }

    p{
        padding: 32px 0 0 23px;
        font-size: 14px;
        color: #828282;

        .productItem__price{
            font-size: 16px;
            color: #5b4a58;

            span{
                font-weight: 700;
            }

            &::before{
                top: 0;
                position: absolute;
                font-size: 12px;
                text-decoration: line-through;
                color: #bdbdbd;
            }
        }
    }

    button{
        display: block;
        font-family: "Literal", sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 16px;

        margin: 21px auto 0 auto;
        border-radius: 10px;
        width: 223px;
        height: 40px;
        background: #6aae55;
        transition: 0.2s;

        &:hover{
            transition: 0.2s;
            background: #48753a;
        }

        &:active{
            transition: 0.2s;
            background: #7fd664;
        }
    }
}

.productItem__discont{
    ::after{
        content: '';
    }
}

.productItem__fresh{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 3px 10px;
    width: 85px;
    height: 25px;
    background: #6aae55;

    font-family: "Literal", sans-serif;
    font-size: 14px;
    color: #fff;
}

.productItem__action{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 3px 10px;
    width: 85px;
    height: 25px;
    background: #f2994a;

    font-family: "Literal", sans-serif;
    font-size: 14px;
    color: #fff;
}