.remark{
    width: 100%;
    background: #f0f0f0;
    padding: 59px 0;
}

.remark__wrapper{
    line-height: 140%;
    font-family: "Literal", sans-serif;
    font-size: 16px;
    color: #828282;
    width: 1110px;
    margin: 0 auto;
}