.cart{
    background: #f9f8fb;
}

.cart__wrapper{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cart__delivery{
    h2{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #5b4a58;
    }

    h3{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #5b4a58;
    }

    // label{
    //     font-family: "Literal", sans-serif;
    //     font-weight: 700;
    //     font-size: 14px;
    //     line-height: 120%;
    //     color: #5b4a58;
    // }
}

.delivery__way{
    margin-top: 27px;
    border-radius: 10px;
    width: 639px;
    height: 140px;
    background: #fff;
}

.deliveryWay__inputs{
    display: flex;

    input{
        display: none;
    }
}