.cart{
    background: #f9f8fb;
}

.cart__wrapper{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cart__delivery{
    h2{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #5b4a58;
    }

    h3{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #5b4a58;
    }

    // label{
    //     font-family: "Literal", sans-serif;
    //     font-weight: 700;
    //     font-size: 14px;
    //     line-height: 120%;
    //     color: #5b4a58;
    // }
}

.delivery__way{
    padding: 22px 0 0 30px;
    margin-top: 27px;
    border-radius: 10px;
    width: 639px;
    height: 140px;
    background: #fff;
}

.deliveryWay__inputs{
    display: flex;
    margin: 17px 0 0 0;
    color: #828282;

    label{
        display: flex;
        align-items: center;
        line-height: 150%;

        svg{
            margin-right: 16px;
        }

        &:last-child{
            margin-left: 94px;
        }
    }
    span{
        font-family: "Literal", sans-serif;
        line-height: 120%;
        display: block;
        font-size: 14px;
    }
    input{
        display: none;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.delivery__sel{
    font-family: "Literal", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #5b4a58;

    svg{
        ellipse{
            transition: .5s;
            fill: #6AAE55;

            &:first-child{
                transition: .5s;
                opacity: 0.3;
            }
        }
    }
}

.delivery__date{
    padding: 17px 30px 0 30px;
    margin: 21px 0 20px 0;
    border-radius: 10px;
    width: 639px;
    height: 230px;
    background: #fff;

    hr{
        border: 1px solid #e0e0e0;
        width: 579px;
    }
}

.deliveryDate__input{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 11px 0;

    h4{
        font-family: "Literal", sans-serif;
        font-size: 16px;
        color: #5b4a58;
    }

    input{
        opacity: 0;
    }

    label{
        display: flex;
        position: relative;
        align-items: center;

        span{
            position: absolute;
            right: 33px;
            font-family: "Literal", sans-serif;
            font-size: 16px;
            color: #5b4a58;
        }

        &::before{
            cursor: pointer;
            right: 0;
            position: absolute;
            width: 22px;
            height: 22px;
            display: block;
            content: '';
            background: url('../assets/img/icons/date.svg');
        }
    }
}

.deliveryDate__time, .deliveryDate__client{
    font-family: "Literal", sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #828282;

    svg{
        margin-right: 12px;

    }
    input[type='radio']{
        display: none;
    }
}

.deliveryDate__time{
    margin: 18px 0 21px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label{
        &:first-child{
            display: flex;
            align-items: center;
        }

        &:last-child{
            position: relative;
            &::before{
                right: 0;
                position: absolute;
                display: block;
                width: 22px;
                height: 22px;
                content: '';
                background: url('../assets/img/icons/time.svg');
            }

            span{
                position: absolute;
                font-family: "Literal", sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #5b4a58;
            }
        }
    }
    input{
        opacity: 0;
    }
}

.deliveryDate__client{
    margin-top: 15px;

    label{
        display: flex;
        align-items: center;

        &:first-child{
            position: relative;
            display: flex;
            img{
                position: absolute;
                right: 0;
            }
        }

        &:last-child{
            margin: 15px 15px;
            display: flex;
            align-items: center;

            font-family: "Literal", sans-serif;
            font-size: 14px;
            line-height: 120%;
            color: #828282;

            input{
                margin-right: 12px;
                border: 1px solid #bdbdbd;
                border-radius: 4px;
                width: 16px;
                height: 16px;
            }

            span{
                font-weight: 700;
            }
        }
    }

}

.delivery__receiver{
    padding: 22px 0 0 30px;

    border-radius: 10px;
    width: 639px;
    height: 429px;
    background: #fff;
}