.cart{
    background: #f9f8fb;
}

.cart__wrapper{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    label:has(input[type='radio']){
        cursor: pointer;
    }
}

.cart__delivery{
    h2{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #5b4a58;
    }

    h3{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #5b4a58;
    }

    // label{
    //     font-family: "Literal", sans-serif;
    //     font-weight: 700;
    //     font-size: 14px;
    //     line-height: 120%;
    //     color: #5b4a58;
    // }
}

.delivery__way{
    padding: 22px 0 0 30px;
    margin-top: 27px;
    border-radius: 10px;
    width: 639px;
    height: 140px;
    background: #fff;
}

.deliveryWay__inputs{
    display: flex;
    margin: 17px 0 0 0;
    color: #828282;

    label{
        display: flex;
        align-items: center;
        line-height: 150%;

        svg{
            margin-right: 16px;
        }

        &:last-child{
            margin-left: 94px;
        }
    }
    span{
        font-family: "Literal", sans-serif;
        line-height: 120%;
        display: block;
        font-size: 14px;
    }
    input{
        display: none;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.delivery__sel{
    font-family: "Literal", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #5b4a58;

    svg{
        ellipse{
            transition: .5s;
            fill: #6AAE55;

            &:first-child{
                transition: .5s;
                opacity: 0.3;
            }
        }
    }
}

.delivery__date{
    padding: 17px 30px 0 30px;
    margin: 21px 0 20px 0;
    border-radius: 10px;
    width: 639px;
    height: 230px;
    background: #fff;

    hr{
        border: 1px solid #e0e0e0;
        width: 579px;
    }
}

.deliveryDate__input{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 11px 0;

    h4{
        font-family: "Literal", sans-serif;
        font-size: 16px;
        color: #5b4a58;
    }

    input{
        opacity: 0;
    }

    label{
        display: flex;
        position: relative;
        align-items: center;

        span{
            position: absolute;
            right: 33px;
            font-family: "Literal", sans-serif;
            font-size: 16px;
            color: #5b4a58;
        }

        &::before{
            cursor: pointer;
            right: 0;
            position: absolute;
            width: 22px;
            height: 22px;
            display: block;
            content: '';
            background: url('../assets/img/icons/date.svg');
        }
    }
}

.deliveryDate__time, .deliveryDate__client{
    font-family: "Literal", sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #828282;

    svg{
        margin-right: 12px;

    }
    input[type='radio']{
        display: none;
    }
}

.deliveryDate__time{
    margin: 18px 0 21px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label{
        &:first-child{
            display: flex;
            align-items: center;
        }

        &:last-child{
            position: relative;
            &::before{
                right: 0;
                position: absolute;
                display: block;
                width: 22px;
                height: 22px;
                content: '';
                background: url('../assets/img/icons/time.svg');
            }

            span{
                position: absolute;
                font-family: "Literal", sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #5b4a58;
            }
        }
    }
    input{
        opacity: 0;
    }
}

.deliveryDate__client{
    margin-top: 15px;

    label{
        display: flex;
        align-items: center;

        &:first-child{
            position: relative;
            display: flex;
            img{
                position: absolute;
                right: 0;
            }
        }

        &:last-child{
            margin: 15px 15px;
            display: flex;
            align-items: center;

            font-family: "Literal", sans-serif;
            font-size: 14px;
            line-height: 120%;
            color: #828282;

            input{
                margin-right: 12px;
                border: 1px solid #bdbdbd;
                border-radius: 4px;
                width: 16px;
                height: 16px;
            }

            span{
                font-weight: 700;
            }
        }
    }

}

.delivery__receiver{
    padding: 22px 0 0 30px;

    border-radius: 10px;
    width: 639px;
    height: 429px;
    background: #fff;
}

.deliveryRec__radio{
    display: flex;
    margin: 20px 0 0 0;

    label{
        display: flex;
        align-items: center;
        input{
            opacity: 0;
        }

        &:last-child{
            margin-left: 110px;
        }
    }
}

.deliveryRec__column{
    margin-top: 24px;
    display: flex;
    label{
        display: flex;
        flex-direction: column;

        span{
            font-family: "Literal", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 120%;
            color: #5b4a58;
            margin-bottom: 10px;
        }
        input{
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            width: 280px;
            height: 40px;

            font-family: "Literal", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #bdbdbd;

            &:first-child{
                padding-left: 17px;
            }

            &:last-child{
                padding-left: 13px;
            }
        }

        &:last-child{
            margin-left: 20px;
        }
    }
}

.deliveryRec__note{
    margin-top: 22px;
    span{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        color: #5b4a58;
    }

    textarea{
        padding: 10px;
        margin-top: 8px;
        resize: none;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        width: 578px;
        height: 90px;
        background: #fafafa;

        font-family: "Literal", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #bdbdbd;
    }
}

.delivery__contacts{
    padding: 0 30px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    border-radius: 10px;
    width: 639px;
    height: 148px;
    background: #fff;
    margin-top: 20px;

    h3{
        padding: 25px 0 12px 0;
    }

    label{
        width: 179px;
        margin-right: 20px;
        span{
            font-family: "Literal", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 120%;
            color: #5b4a58;
        }

        input{
            margin-top: 10px;
            max-width: 100%;
            padding: 0 12px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            height: 40px;

            background: #fafafa;
            font-family: "Literal", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #bdbdbd;
        }
    }
}

.deliveryCont__list{
    display: flex;
}

.delivery__pay{
    padding: 21px 0 0 30px;
    margin-top: 20px;
    border-radius: 10px;
    width: 639px;
    height: 213px;
    background: #fff;

    font-family: "Literal", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #828282;
    h3{
        margin-bottom: 18px;
    }
    label{
        display: flex;
        align-items: center;
        input{
            opacity: 0;
        }
    }

    hr{
        margin: 14px 0 16px 0;

        padding-right: 30px;
        border: 1px solid #e0e0e0;
        width: 579px;
        height: 0px;
    }
}

.deliveryPay__list{
    display: flex;
    flex-direction: column;
}

.cart__submit{
    display: block;
    margin: 20px 0 40px auto;
    border-radius: 5px;
    width: 222px;
    height: 40px;
    background: #6aae55;

    font-family: "Literal", sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: .3s;
    color: #fff;

    &:hover{
        transition: .3s;
        background: #89dd6f;
    }

    &:active{
        transition: .3s;
        background: #518042;
    }
}


// block 2
.cart__products{
    padding: 72px 25px 0 25px;
    background: #f2f2f2;
    width: 451px;
    h2{
        font-family: "Karton", sans-serif;
        font-weight: 400;
        font-size: 30px;
        color: #5b4a58;
        margin-bottom: 34px;
    }
}

.cartProd__totalprice{
    padding: 25px 30px 0 25px;
    border-radius: 10px;
    width: 401px;
    height: 186px;
    background: #fff;
    text-align: center;

    h3{
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #6aae55;
    }

    span{
        display: block;
        padding: 7px 0 25px 0;
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #5b4a58;
    }

    hr{
        margin-bottom: 15px;
        border: 1px solid #e0e0e0;
        width: 346px;
        height: 0px;
    }

    p{
        line-height: 150%;
        font-family: "Literal", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #5b4a58;

        a{
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #6aae55;
        }
    }
}