.contactinfo{
    background: #f9f8fb;
}

.contactinfo__wrapper{
    max-width: 1110px;
    margin: 0 auto;

    h1{
        font-family: "Karton", sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #5b4a58;
        text-align: center;
        margin: 12px 0 24px 0;
    }
}

.contactinfo__contacts{
    display: flex;
    justify-content: space-between;

    ul{
        padding: 24px 0 26px 0;
        border-radius: 10px;
        max-width: 263px;
        background: #fff;

        hr{
            border: 1px solid #e0e0e0;
            width: 263px;
            height: 0px;

            &:nth-child(2){
                margin: 23px 0 20px 0;
            }

            &:nth-child(4){
                margin: 12px 0 20px 0;
            }

            &:nth-child(6){
                margin: 19px 0 20px 0;
            }
        }

        li{
            padding-left: 30px;
            display: flex;
            flex-direction: column;

            span{
                padding-bottom: 12px;
                font-family: "Literal", sans-serif;
                font-size: 14px;
                line-height: 140%;
                color: #828282;
            }

            strong{
                font-family: "Literal", sans-serif;
                font-weight: 700;
                font-size: 16px;
                color: #5b4a58;
            }
        }
    }
}

.contactinfo__map{
    border-radius: 10px;
    max-width: 825px;
    height: 404px;
}

.contactinfo__form{
    margin: 20px 0 30px 0;
    padding: 21px 30px 30px 30px;
    max-width: 1110px;
    height: 301px;
    border-radius: 10px;
    background: #fff;

    h2{
        text-align: center;
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #5b4a58;
        margin-bottom: 25px;
    }

    button{
        display: block;
        border-radius: 5px;
        width: 222px;
        height: 40px;
        background: #6aae55;
        margin: 15px 0 0 auto;
        font-family: "Literal", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
    }
}

.form__block{
    display: flex;
    justify-content: space-between;

    input{
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        width: 327px;
        height: 40px;
        background: #fafafa;

        font-family: "Literal", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        padding-left: 14px;

        &::placeholder{
            color: #bdbdbd;
        }
    }
}

.form__wrapper{
    display: flex;
    flex-direction: column;

    input{
        margin-bottom: 13px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.form__question{
    textarea{
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        width: 703px;
        height: 146px;
        background: #fafafa;
        resize: none;

        font-family: "Literal", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        padding: 10px 0 0 14px;

        &::placeholder{
            color: #bdbdbd;
        }
    }
}